<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="ordersummary">
      <h4> Thank you for your order!
    <div>

    <div class="panel panel-default items">
      <% @total = 0 %>
      <% @order.line_items.each do |line_item| %>
        <% product = Product.find_by(id: line_item.product_id) %>
      <%= item_total = product.price * line_item.quantity %>
        <%= product.name %> <%= line_item.quantity %> <strong>(<%= item_total %>)</strong><br>
        <% @total += item_total %>
      <% end %>
      <br>
      <strong> TOTAL: <%= @total %></strong>
    </div>
  </body>
</html>
