<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <% if Review.where(product_id: @product.id).present? %>
            <dt>Overall Rating</dt>
            <dd><%= Review.where(product_id: @product.id).average(:rating).floor %></dd>
          <% end %>
        </dl>
      </div>
    </div>
    <hr>
    <div class="col-sm-12 col-sm-offset-0">
      <h3>Reviews</h3>
      <% if !@product.reviews.empty? %>
        <% @ordered_reviews.each do |review| %>
          <%= render 'review', review: review %>
      <% end %>
      <% end %>
    </div>

    <% if current_user %>
      <h3>Leave a review!</h3>
      <%= form_for(:review, options = {url: product_reviews_path(@product)}) do |form| %>
        <div class="form-group">
          <label for="review_description">Review Description:</label>
          <%= form.text_field :description, class: 'form-control'%>
        </div>
        <div class="form-group">
          <label for="review_rating">Rating:</label>
          <%= form.select :rating, [10, 9, 8, 7, 6, 5, 4, 3, 2, 1], class: 'form-control'%>/10
        </div>
        <%= form.submit 'Submit Review', class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      <br>
      <h4>Please login or signup to leave a review</h4>
    <% end %>
  </article>
</section>
